.header{
    display: flex;
   margin-top: 10px;
  }
  .logo{
      position: relative;
      left: 2.4rem;
  }
  .logo a{
      text-decoration: none;
  }
  .logo img{
      padding-left: 3.7rem  ;
      height: 50px;
      width: 190px;
      cursor: pointer;
  }
  .logo h4{
      font-style: italic;
      position: relative;
      /* left: 44px; */
      font-size: 13.4px;
  }
  #navbar{
      position: absolute;
      right: 35px;
  }
  #navbar ul{
      display: flex;
      margin-top: 30px;
  }
  #navbar a{
      text-decoration: none;
      color: white;
      padding: 0rem 1.5rem;
      font-size: 1.2rem;
      font-weight: 800;
      /* font-family: 'Exo 2', sans-serif;
       */
       font-family: 'Raleway', sans-serif;
  }
  #navbar a:hover{
      color: gray;
  }
  #navbar a:active{
      color: gray;
  }

  #navbar  .current{
    color: #d18410;
}
  .home{
      top: 0px;
      background-size: 1000px 660px;
      height: 15vh;
      width: 100%;
      z-index: -1;
      display: flex;
  }
  .logo123{
    font-family: 'Raleway', sans-serif;
    color: #d18410;
    padding-left: 64px;
}
.subHeading{
   color: white;
   font-family:'Raleway', sans-serif ;
}
.primaryText{
   color:black;
   font-family: 'Judson', serif;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    /* font-family: 'Exo 2', sans-serif;  */
}
body{
     font-family: 'Judson', serif;  
    /* font-family: 'Exo 2', sans-serif; */
    font-size: larger;
    /* background-image: url(3999947.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}
.cont{
    
    padding-left: 6.25rem;
    color: #f2f2f2;
    /* color: #d18410; */
    padding-top: 110px;
    padding-bottom: 3px;
    font-size: 2.8rem;
    font-weight: 900;
    /* font-weight: ; */
}

.cont-bottom{
    padding-left: 6.25rem;
}
p{
    padding-left: 390px;
    color: #d18410;
}

.bg{
    padding-top: 40px;
}
.container{
   display: hidden;
   /* background-color: rgba(70, 70, 70, 0.6);  */
     background-color: #fff; 
    margin-left: 58%;
    margin-right: 4em;
    margin-top: 70px;
    border-radius: 7px;
    box-shadow: 10px;
    /* margin-bottom: 2em; */
    height: 670px;
    width: 35%;
    
}

.cont-side{
    float: left;
    color: white;
    padding-top: 15rem;
    padding-left: 6.25rem;
    padding-right: 3.125rem;
    /* margin-left: 5em; */
}
form{
    padding-top: 20px;
}

.fname, .lname, .email, .number, .msg{
    font-family:'Raleway', sans-serif ;
    color: black;
    /* padding-left: 50px; */
    padding-left: 31px;
    padding-bottom: 10px;
    
}

.lname, .email, .number, .msg{
    padding-top: 10px;
}
#lname{
    margin-left: 27px;
}

.first-name{
    margin-bottom: 0.5em;
    margin-left: 2.3em;
    margin-right: 0em;
}
.cont-email{
    margin-left: 36px; 
    font-size: 17px; 
    font-family: 'Raleway', sans-serif;
}

.cont-number{
    margin-left: 35px; 
    font-size: 17px;
     font-family: 'Raleway', sans-serif;
}

.cont-msg{
    margin-left: 35px; 
    font-size: 17px;
     font-family: 'Raleway', sans-serif;
}


input[type="number"], input[type="email"],textarea{
    padding: 10px 10px 10px 7px;
    background: #fff;
    border-radius: 10px;
    border: 2px solid gray;
    width: 85%;
    font-size: 17px; 
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 2em;
}

input[type="text"]{
    width: 187px;
    margin-left: 2.1em;
    padding: 10px 10px 10px 7px;
    margin-bottom: 0.5em;
    border-radius: 10px;
    border: 2px solid gray;
    font-size: 17px;
    /* margin-right: 1.5em; */
}

input[type="submit"]{
    cursor: pointer;
    padding: 15px 27px 15px 27px;
    font-size: 20px;
    margin-left: 1.7em;
    margin-top: 0.3em;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 55px;
    background: #e69722;

}
input[type="submit"]:hover{
    color: #fff;
    background-color: gray;}

label{
    margin-bottom: 5em;
    margin-left: 30px; 
    font-size: 17px; 
    font-family: 'Raleway', sans-serif;
}

.name-adj{
    display: flex;
    margin-left: 0px;
    margin-bottom: 0px;
}

::-webkit-input-placeholder{
    /* font-family: 'Exo 2', sans-serif; */
    font-size: 18px;
    color: #a2a3a3;
}


.cont-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cont-top-para{
    padding-left: 0px;
    font-size: 40px;
    color: black;
    background-color: #fac679 ;
    /* width: 24.875rem; */
    width: 85%;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.cont-top-img{
    width: 150px;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

#message{
    color: black;
    font-size: 17px;
}

.address, .phone, .add-email{
    font-family: 'Raleway', sans-serif;
    display: inline;
    color: white;
    padding-left: 10px;
    font-size: 27px;
    
}

.phn-content{
    font-family: 'Exo 2', sans-serif;
    padding-left: 12px;
    padding-top: 10px;
    padding-bottom: 30px;
    color: white;
    
}

.add-content{
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    padding-bottom: 0px;
    padding-left: 12px;
    color: white;
    padding-top: 10px;
}

.add-content-1{
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    color: white;
    padding-left: 12px;
    padding-top: 0px;
    margin-top: 0px;
    
}

.add-content-2{
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    color: white;
    padding-left: 12px;
    padding-top: 0px;
    margin-top: 0px;
}
.add-content-3{
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    color: white;
    padding-left: 12px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 30px;
}
.add-email-cont{
    font-family: 'Exo 2', sans-serif;
    display: block;
    text-decoration: none;
    color: white;
    padding-left: 12px;
    padding-top: 10px;
}

.fa-bus{
    padding: 19px;
    color: black;
    background-color: white;
    width: 55px;
    height:55px;
    border-radius: 50%;
}

.fa-phone {
    padding: 20px;
    color: black;
    background-color: white;
    width: 55px;
    height:55px;
    border-radius: 50%;
}

.fa-envelope{
    padding: 18px;
    color: black;
    background-color: white;
    width: 55px;
    height:55px;
    border-radius: 50%;
}

   .photo{
    background-image: url(./images/bg-n-n.jpeg);
    height: 1150px;
    background-repeat: no-repeat;
    
    /* height: 100vh; */
    padding-bottom: 40px;
    background-size: cover;
}

footer{

    background: rgba(0, 0, 0, 0.89);
     height: 10vh;
    font-weight: 600; 
    padding-top: 23px;
    padding-bottom: 10px;
    font-family: 'Raleway', sans-serif;
 }

 .copy1{
     padding-left: 100px;
     padding-top: 40px;
     text-decoration: none;
     font-weight: 300;
     color: white;
     /* margin: 2em; */
 }
 .copy2{
     text-decoration: none;
     font-weight: 300;
     color: white;
 }

 .con1{
     text-decoration: none;
     color: white;
     padding-left: 30px;
     margin-left: 27em;
 }
 .con2{
     display: inline;
     /* margin-right: 0px; */
     padding-left: 30px;
     padding-right: 20px;
     margin-left: 29px;
     text-decoration: none;
     color: white;
 }
 .secondaryText{
     display: inline;
     text-decoration: none;
     color: #d18410;
     padding-left: 50px;
     
 }

.burger{
    position: absolute;
    top: 0.3rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.bar-1 ,.bar-2 ,.bar-3{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.burger {
    /* display: none; */
    cursor: pointer;
  }
  
@media screen and (max-width: 720px) {
    body {
      overflow-x: hidden;
      
    }

    .photo{
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    #navbar {
      width: 80%;
      
    }

    #navbar a{
        padding-top: 2.5rem;
        font-size: 1rem;
        padding-right: 2.3rem;
    }
    .navlinks {
      position: absolute;
      top: 4vh;
      flex-direction: column;
      align-items: center;
      height: 45vh;
      width: 55%;
      background-color: rgb(58, 58, 58);
      transform: translateX(100%);
      transition: all 0.3s ease-out;
      z-index: -11;
      display: none;
    }
    .navlinks li:hover {
      color: gray;
    }

    .cont{
        padding-left: 4%;
    }

    .cont-bottom{
        padding-left: 4%;
    }

    .cont-side{
        padding-top: 7rem;
        padding-left: 10%;
        padding-bottom: 2rem;
    }
    
    .logo img {
      object-fit: contain;
      height: 3rem;
      width: 7rem;
      padding-left: 0.1rem;
    }
    .logo h4 {
      font-size: 0.6rem;
      margin-top: -0.6rem;
      padding-left: 5px;
    }

    
    .home {
        background-size: cover;
      }
    .burger {
        display: flex;
        overflow-y: hidden;
        margin-top: 1.7rem;
        margin-right: 2rem;
      }

    .nav-active {
        /* transform: translateX(0%); */
        /* opacity: 1; */
        z-index: 11;
        display: flex;
    }  

    .toggle .bar-1 {
        transform: rotate(-45deg) translate(-6px, 6px);
      }
      .toggle .bar-2 {
        opacity: 0;
      }
      .toggle .bar-3 {
        transform: rotate(45deg) translate(-6px, -6px);
      }

    .copyright a{
        font-size: 0.6rem;
    }

    .copy1{
        padding-left: 5%;
    }
    .con1{
        margin-left: auto;
        padding-left: 6%;
    }

    .secondaryText{
        padding-left: 6%;
    }

    .con2{
        margin-left: 0%;
        padding-left: 5%;
        padding-right: 0%;
    }

    footer{
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .main-container{
        display: flex;
        flex-direction: column-reverse;   
    }

    .container{
        margin-left: 10%;
        margin-right: 1.5em;
        width: 80%;
        /* box-shadow: 10px 10px 10px rgb(70, 67, 67); */
        /* flex-direction: column; */
    }

    .cont-top-para{
        width: 85%;
        font-size: 40px;
        margin-right: 1rem;
        /* padding-right: 18px; */
        
    }

    input[type="submit"]{
        margin-left: 5%;
    }

    .last-name{
        padding-left: 0rem;
    }

    .first-name{
        margin-left: 10%;
    }
    .last-name{
        margin-left: 3%;
    }
    #lname{
        margin-left: 3%;
        width: 83%;
    }
    #name{
        margin-left: 10%;
        width: 85%;
    }

    .cont-email{
        margin-left: 5%;
    }
    #email{
        margin-left: 5%;
    }
    .cont-number{
        margin-left: 5%;
    }
    #number{
        margin-left: 5%;
    }
    .cont-msg{
        margin-left: 5%;
    }
    #message{
        margin-left: 5%;
    }
}   


